[settings]
experimental = true
lockfile = true

############################################################################
# Tools Configuration                                                      #
############################################################################

[tools]

# ==========================================================================
# Runtime
# ==========================================================================

# Node.js runtime
#
[tools.node]
version = "20"
