[settings]
# TODO: need experimental mode to support lock file -> can be solved using mise.local.toml
# TRICKY:
# This one breaks tools.http:llvm/llvm-project installation due to mise bug probably
# experimental = true
# This one I needs to be tested; but I haven't seen it working last time
lockfile = true
# TRICKYend

############################################################################
# Tools Configuration                                                      #
############################################################################

[tools]

# https://github.com/koalaman/shellcheck/releases
# e.g. https://github.com/koalaman/shellcheck/releases/download/v0.11.0/shellcheck-v0.11.0.darwin.x86_64.tar.xz
#
[tools."github:koalaman/shellcheck"]
version = "0.11.0"

[tools."github:koalaman/shellcheck".platforms]
linux-x64 = { asset_pattern = "shellcheck-*.linux.x86_64.tar.xz" }
macos-arm64 = { asset_pattern = "shellcheck-*.darwin.aarch64.tar.xz" }
windows-x64 = { asset_pattern = "shellcheck-*.zip" }

# https://github.com/PowerShell/PowerShell/releases
# e.g. https://github.com/PowerShell/PowerShell/releases/download/v7.5.4/powershell-7.5.4-osx-arm64.tar.gz
#
[tools."github:PowerShell/PowerShell"]
version = "latest"

[tools."github:PowerShell/PowerShell".platforms]
linux-x64 = { asset_pattern = "powershell-*-linux-x64.tar.gz" }
macos-arm64 = { asset_pattern = "powershell-*-osx-arm64.tar.gz" }
windows-x64 = { asset_pattern = "PowerShell-*-win-x64.zip" }

# Node.js for jscpd & eslint
#
[tools.node]
version = "22"
